@charset "utf-8";
/* CSS Document */

body
{
	background-size:100% auto;
	background-image: url(background.jpg);
	background-repeat:no-repeat; 
  background-position:left top; 
  background-attachment:fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

#keret
{
	position:absolute;
	left:20%;
	top:5%;
	box-shadow: 10px -5px 20px 0px rgba(0,0,0,0.5);
	padding: 2%;
	width: 60%;
	background-color: rgba(255,255,255,0.7) ;	
}

p
{
	text-align:justify;
}

table
{
	border:outset 3px;
		width: 80%;
}

hr
{
	background-color:#243f84;
	height:2px;
	width:100%;
}

img
{
	width:100%;
}

ul
{
	font-size:small ;
	list-style-image: url(nap.png);
    margin-left: 10%;
}

input
{
	font-size:medium;
	margin-top:2%;
}

h1, h2{
	color: #243f84;
}
.szurke{
	font-size: small;
	text-align: center;
	color: #808183;
	font-weight: bold;
}
dl{
	color: #243f84;
	text-decoration: underline;
}
#fel{
	float: right;
	width: 5vw;
}